*.json
*.lintr
*.fastq
*.fastq.gz
*.gz
*.zip
data
*.pdf
*.png
*.csv
*.cx
*.graphml
*.txt.gz
*.tar
*.log
*.tsv
*.xml
*.cys
*.html
*.yml
work
*.RDataTmp
*.RData
*nextflow*
*cash*
*cache*
*log*
*.txt
*.Rhistory
